$background: rgb(131, 180, 131);
$color-letra:rgb(8, 8, 8);
$clik-letra:white;
$tamaño-letra-ancla: 30px ;
$color-sombra:black;
$background-wps-rebaja:rgb(214, 213, 213);
$color-letra-wsp-rebaja: rgb(175, 133, 133);
$background-inicio-nav:red