$background: rgb(131, 180, 131);
$color-letra:rgb(8, 8, 8);
$clik-color-letra:white;
$tamanio-letra-ancla: 30px ;
$color-sombra:black;
$background-aten-cliente-rebaja:rgb(178, 178, 178);
$color-letra-aten-cliente-rebaja: rgb(131, 79, 79);
$font-size-aten-cliente-rebaja:14px;
// adidas-nike-nav-main
$background-nav-tienda:rgb(184, 184, 184);
$color-letra-ancla-tienda:rgb(241, 65, 65);
$color-hover-letra-tienda:rgb(0, 0, 0);
$color-sombra-tienda:rgb(0, 0, 0);
$font-size-tienda:28px;
// tienda titulo
$background-titulo-tienda: rgba(168, 98, 49, 0.58);
$color-letra-titulo-tienda:#000000;
$font-size-titulo_tienda:40px;
// tienda sexo
$background-tienda-sexo:rgb(22, 22, 22);
$sombra-tienda-sexo: rgb(255, 255, 255); 
// tablet 768
$font-size-tablet:23px;
$color-letra-header-tablet:white;






