@media (max-width:768px) {  
.gridcars {
    @include tamaños (100%, 1280px);
    @include grid(repeat(2, 1fr), repeat(3, 1fr), "cars1 cars2" "cars3 cars4" "cars5 cars6");
    @include prop-flex (center, center, none);
    gap: 0px;
}

.cars1 {
    @include tamaños(240px, 220px);
    @include margin(0, 0, 50px, 0);
    @include prop-flex-self(center, center);
    background-color:#ededed;
    -webkit-box-shadow: inset 0px 0px 20px 32px rgba(0, 0, 0, 1);
    -moz-box-shadow: inset 0px 0px 20px 32px rgba(0, 0, 0, 1);
    box-shadow: inset 0px 0px 20px 32px rgba(0, 0, 0, 1);
}

.cars2 {
    grid-area: cars2;
  
}

.cars3 {
    grid-area: cars3;
  
}

.cars4 {
    grid-area: cars4;

}

.cars5 {
    grid-area: cars5;

   
}

.cars6 {
    grid-area: cars6;
    

}

img {
    @include tamaños(110px, auto);

}

.carrito-1 {
    height: auto;
    width: auto;
}

.producto {
    margin-top: 4px;
    font-size: 20px;
    text-align: center;
    outline-style: double;
    background-color: white;

    .precio {
        color: rgb(214, 39, 39);
        font-size: 30px;
    }
}

.containerDescuento {
    display: flex;
    @include prop-flex(space-evenly, center, none);

    .precioDescuento {
        font-size: 15px;
        text-decoration: line-through;
    }

    .descuentoOff {
        background-color: green;
        text-transform: uppercase;
    }
}
.comprar {
    @include tamaños(auto, auto);
    background-color: white;
    @include margin(7px, 0, 50px, 0);
    outline-style: double;
    display: flex;
    @include prop-flex(space-evenly, none, none);

    button {
        color: white;
        background-color: #5e4747;
    }
}
}